ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #323d3f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
}

li a:hover {
    background-color: #00FFFF;
}

#banner_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.upper_banner {
    width: 100%;
    height: 30%;
    background-color: #51a584;
    margin: 0;
    padding: 0;
}

.lower_banner {
    width: 100%;
    height: 30%;
    background-color: #768588;
    margin: 0;
    padding: 0;
    border-style: groove;
}

.lower_banner > h4 {
    font-family: serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}